html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.button {
    display: inline-block;
    font-weight: bold;
    padding: 1.2rem 2.5rem;
    border-radius: 5rem;
    text-align: center;
    width: fit-content;
    height: 3.5rem;
}
a {
    text-decoration: none;
}
.orange-color-high {
    color: rgb(177, 65, 31);
}
.orange-color {
    color: rgb(148, 57, 29);
}


#envato-market {
    height: 5vh;
    width: 100vw;
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo p span {
    font-weight: bold;
}
#envato-market > a {
    color: white;
    background-color: rgb(125, 184, 71);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    width: fit-content;
    margin: 0 1rem;
}


#container {
    height: 600vh;
    width: 100vw;
    background-color: rgb(7, 7, 7);
    display: flex;
}
#left-line {
    width: 1%;
}


#content {
    height: 600vh;
    width: 99%;
}


#main-page {
    position: relative;
    height: 160vh;
    width: 100%;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#okai {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#okai h4 {
    color: white;
    font-weight: normal;
    font-size: 2rem;
}
#okai i {
    color: rgb(255, 100, 38);
    font-size: 3.5rem;
}
#phone-header {
    min-width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#phone-header p {
    color: grey;
    font-weight: bold;
}
#phone-header p span {
    color: white;
}

#menu-toggle i {
    color: white;
    font-size: 3rem;
}
#nav-menu {
    position: absolute;
    top: 10vh; 
    right: 0;
    width: 15vw;
    height: 12rem;
    background-color: rgba(0, 0, 0, 0.89);
    display: none;
    z-index: 100;
}
#nav-menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#nav-menu div a {
    color: white;
    font-weight: bold;
}

#main-section {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
}
#title-section {
    position: absolute;
    top: 30vh;
    left: 20vw;
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 200;
}
#title-section h1 {
    font-size: 5rem;
    color: white;
}
#title-section a {
    background-color: rgb(255, 111, 54);
    color: black;
}
#picture-section {
    position: relative;
    height: 97.5%;
    width: 60vw;
    background-image: url('../assets/profile-picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#profile-picture {
    width: 50vw;
}
#profile-picture-cut {
    background-image: url('../assets/profile-picture-cut.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -1vw;
    height: 15vh;
    width: 16vw;
    bottom: 0;
    z-index: 100;
}
#light-orange-background {
    background-color: rgba(255, 152, 112, 0.507);
    width: 35vw;
    height: 15vh;
    position: absolute;
    left: 15vw;
    bottom: -2vh;
    z-index: 100;
}

#design-projects-section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 10, 10);
}
#ten-years-exp-section {
    position: relative;
    height: 40vh;
    width: 54.5%;
}
#ten-year-text-section {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(167, 76, 48);
}
#ten-year-orange-section {
    position: absolute;
    height: 13vh;
    width: 101%;
    background-color: rgb(255, 97, 49);
    bottom: -1vh;
    left: 0;
    z-index: 100;
}
#ten {
    position: absolute;
    bottom: 4vh;
    right: 20vw;
    font-size: 18rem;
    color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
}
#plus {
    position: absolute;
    bottom: 18vh;
    right: 18vw;
    font-size: 10rem;
    color: rgb(185, 144, 128);
}
#years-exp {
    position: absolute;
    font-size: 3rem;
    width: 5rem;
    color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
    bottom: 10vh;
    right: 5vw;
    transform: rotate(270deg); 
    transform-origin: left bottom; 
}

#projects-in-queue-section {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-right: 5vw;
}
#projects-in-queue-section > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
#projects-in-queue-section > div h3 {
    color: rgb(175, 175, 175);
    font-size: 2rem;
    font-weight: normal;
    width: 15rem;
}
#projects-in-queue-section > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#projects-in-queue-section > div > div h4 {
    color: rgb(175, 175, 175);
    font-size: 1.2rem;
}
.precentage {
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: space-between;
}
.precentage p:first-of-type {
    font-size: 5rem;
    width: 20rem;
    color: rgb(87, 87, 87);
    align-self:flex-end;
}
.precentage p:first-of-type span {
    font-size: 3rem;
    margin-left: 1rem;
}
.prec-p {
    display: inline-block;
    color: rgb(87, 87, 87);
    height: 2rem;
    width: 25rem;
    align-self: center;
}
.skill-bar {
    width: 100%;
    height: 0.6rem;
    border-radius: 0.3rem;
    background-color:rgb(24, 24, 24);
}
.skill-fill {
    height: 100%;
    background-color: rgb(197, 75, 38);
    border-radius: 0.3rem;
}


#portfolio-page {
    position: relative;
    background-color: rgb(10, 10, 10);
    height: 260vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#portfolio-section{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#portfolio-section h2 {
    color: rgb(175, 175, 175);
    font-size: 3rem;
}
#portfolio-pictures-section {
    display: grid;
    grid-template-areas: "text-p speaker"
                         "man speaker"
                         "man cream"
                         "man cream"
                         "man cream"
                         "commercial cream"
                         "commercial button-view"
                         "commercial button-view";  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 10rem);
    gap: 3rem;    
}
#portfolio-text {
    color: rgb(87, 87, 87);
    grid-area: text-p;
    width: 60%;
}
.portfolio-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#man-thinking-picture {
    grid-area: man;
}
#speaker-picture {
    grid-area: speaker;
}
#face-cream-picture {
    grid-area: cream;
}
#street-commercial-picture {
    grid-area: commercial;
}
#button-view {
    grid-area: button-view;
    color: rgb(175, 175, 175);
    border: 0.1rem solid rgb(175, 175, 175);
    align-self: center;
    justify-self: center;
}

#pricing-section {
    width: 100%;
    height: 15rem;
    background-color: rgba(218, 93, 56, 0.699);
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 3rem 8vw;
}
#pricing-section p {
    font-size: 1.8rem;
    color: rgba(145, 145, 145, 0.671);
}
#pricing-section a {
    color: rgba(0, 0, 0, 0.637);
    background-color: rgba(145, 145, 145, 0.671);
    margin-bottom: 1rem;
}

#icons-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgb(31, 30, 30);
    right: 0;
    top: 130rem;
    background-color: rgb(189, 189, 189);
}
#icons-section div {
    border: 0.1rem solid rgb(31, 30, 30);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icons-first, #icons-sec, #icons-three {
    border-bottom: none;
}

#reviews-section {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#review {
    width: 60%;
    display: grid;
    grid-template-areas: "reviewer-pic reviewer-pic reviewer-pic"
                         "review-text review-text review-text"
                         "left-arr name-job right-arr";  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 8rem);
    gap: 1rem;   
}
#reviewer-profile-picture {
    grid-area: reviewer-pic;
    width: 8rem;
    border-radius: 4rem;
    align-self: flex-start;
    justify-self: center;
}
#review-text {
    grid-area: review-text;
    width: 80%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    align-self: center;
    justify-self: center;
}
#reviewer-info {
    grid-area: name-job;
    text-align: center;
    align-self: center;
    justify-content: center;
}
#reviewer-name {
    color: white;
    font-weight: bold;
}
#reviewer-job {
    color: rgba(145, 145, 145, 0.671);
    font-weight: bold;
    margin-top: 1rem;
}
#rew-arr-l {
    grid-area: left-arr;
    width: 5rem;
    color: rgba(145, 145, 145, 0.671);
    background-color: rgb(10, 10, 10);
    font-size: 2rem;
    align-self: center;
    justify-self: end;
    border: none;
}
#rew-arr-r {
    grid-area: right-arr;
    width: 5rem;
    color: rgba(145, 145, 145, 0.671);
    background-color: rgb(10, 10, 10);
    font-size: 2rem;
    align-self: center;
    justify-self: start;
    border: none;
}
    

#blog-page {
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
}
#blog-section {
    height: 80vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#blog-section h2 {
    color: rgb(175, 175, 175);
    font-size: 3rem;
}
#news-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#news-section > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.blog-pic {
    width: 33vw;
}
#news-section > div > p {
    width: 33vw;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
#news-section > div > div {
    width: 33vw;
    display: flex;
    gap: 2rem;
}
.design {
    font-size: 1.1rem;
}
.date {
    font-size: 1.1rem;
    color: rgb(87, 87, 87);
}


#contact-us-page {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
#contact-us-page div {
    height: 100%;
    width: 99%;
    background-color: rgba(179, 74, 42, 0.781);
    display: flex;
    align-items: flex-end;
}
#contact-us-page div p {
    font-size: 5rem;
    font-weight: bold;
    color: rgba(167, 155, 155, 0.733);
    margin: 15vh 10vw;
}
#contact-us-page div p span {
    color: rgba(168, 89, 58, 0.815);
}